<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbt.platform.ladder.dao.ILadderRuleDao">

	<resultMap type="com.dbt.platform.ladder.bean.LadderRuleCog" id="resultLadderRule">
		<result property="infoKey" column="INFO_KEY"/>
		<result property="ruleNo" column="RULE_NO"/>
		<result property="ruleName" column="RULE_NAME"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="ruleFlag" column="RULE_FLAG"/>
		<result property="ladderStartTime" column="LADDER_START_TIME"/>
		<result property="ladderEndTime" column="LADDER_END_TIME"/>
		<result property="vcodeActivityKeys" column="VCODE_ACTIVITY_KEYS"/>
		<result property="allowanceaExclusiveFlag" column="ALLOWANCEA_EXCLUSIVE_FLAG"/>
		<result property="remarks" column="remarks" />
		<result property="deleteFlag" column="DELETE_FLAG"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="createUser" column="CREATE_USER"/>
		<result property="updateTime" column="UPDATE_TIME"/>
		<result property="updateUser" column="UPDATE_USER"/>
	</resultMap>
	
	<insert id="create" parameterType="com.dbt.platform.ladder.bean.LadderRuleCog">
		INSERT INTO vps_ladder_rule_cog (
			INFO_KEY,
			RULE_NO,
			RULE_NAME,
			START_DATE,
			END_DATE,
			RULE_FLAG,
			LADDER_START_TIME,
			LADDER_END_TIME,
			VCODE_ACTIVITY_KEYS,
			ALLOWANCEA_EXCLUSIVE_FLAG,
			DELETE_FLAG,
			CREATE_TIME,
			CREATE_USER,
			UPDATE_TIME,
			UPDATE_USER
		) VALUES (
			#{infoKey},
			#{ruleNo},
			#{ruleName},
			#{startDate},
			#{endDate},
			#{ruleFlag},
			#{ladderStartTime},
			#{ladderEndTime},
			#{vcodeActivityKeys},
			#{allowanceaExclusiveFlag},
			'0',
			#{createTime},
			#{createUser},
			#{updateTime},
			#{updateUser}
		) 
	</insert>
	
	<update id="update" parameterType="com.dbt.platform.ladder.bean.LadderRuleCog">
        UPDATE
			vps_ladder_rule_cog
		SET
            <if test="ruleName != null and ruleName != ''">
                RULE_NAME = #{ruleName},
            </if>
            <if test="startDate != null and startDate != ''">
                start_date = #{startDate},
            </if>
            <if test="endDate != null and endDate != ''">
                end_date = #{endDate},	
            </if>
            <if test="ruleFlag != null and ruleFlag != ''">
                rule_flag = #{ruleFlag},
            </if>
            <if test="vcodeActivityKeys != null and vcodeActivityKeys != ''">
                vcode_activity_keys = #{vcodeActivityKeys},
            </if>
            <if test="allowanceaExclusiveFlag != null and allowanceaExclusiveFlag != ''">
                allowancea_exclusive_flag = #{allowanceaExclusiveFlag},
            </if>
            <if test="deleteFlag != null and deleteFlag != ''">
                delete_flag = #{deleteFlag},
            </if>
            <if test="ladderStartTime != null and ladderStartTime != ''">
	            ladder_start_time = #{ladderStartTime},
            </if>
            <if test="ladderEndTime != null and ladderEndTime != ''">
	            ladder_end_time = #{ladderEndTime},
            </if>
			<if test="remarks != null and remarks != ''">
				remarks = #{remarks},
			</if>
			UPDATE_TIME = #{updateTime},
			UPDATE_USER = #{updateUser}
		WHERE
			INFO_KEY = #{infoKey}
	</update>
	
	<select id="findById" resultMap="resultLadderRule" parameterType="String">
		SELECT
		*,
		IF(CURDATE() <![CDATA[<=]]> END_DATE,'1','2') AS isBegin
		FROM
			vps_ladder_rule_cog
		WHERE
			INFO_KEY = #{infoKey}
	</select>
	
	<select id="queryForLst" resultMap="resultLadderRule" parameterType="Map">
		SELECT
			*,
			CASE
				WHEN RULE_FLAG = '2' AND #{queryBean.currDate} >= START_DATE AND #{queryBean.currDate} <![CDATA[<=]]> END_DATE THEN '1'
				WHEN RULE_FLAG = '1' AND #{queryBean.currDate} >= START_DATE AND #{queryBean.currDate} <![CDATA[<=]]> END_DATE
					AND DATE_FORMAT(now(),'%H:%i:%S') >= ladder_start_time AND DATE_FORMAT(now(),'%H:%i:%S') <![CDATA[<=]]> ladder_end_time THEN '1'
				WHEN #{queryBean.currDate} > END_DATE OR (RULE_FLAG = '1' AND DATE_FORMAT(now(),'%H:%i:%S') > ladder_end_time) THEN '2'
				ELSE '0'
			END AS isBegin
		FROM
			vps_ladder_rule_cog
		WHERE
			DELETE_FLAG = '0'  
		<if test="queryBean.ruleName != null and queryBean.ruleName != ''">
            and rule_name like '%${queryBean.ruleName}%'
        </if>		
        <choose>
          <when test="pageInfo.orderCol != null and pageInfo.orderCol != '' and pageInfo.orderCol != 'create_time'">
              ORDER BY ${pageInfo.orderCol} ${pageInfo.orderType}, CREATE_TIME DESC
          </when>
          <when test="pageInfo.orderCol != null and pageInfo.orderCol != ''">
              ORDER BY ${pageInfo.orderCol} ${pageInfo.orderType}
          </when>
          <otherwise>ORDER BY isBegin, CREATE_TIME DESC</otherwise>
        </choose>
		LIMIT #{pageInfo.startCount}, #{pageInfo.pagePerCount}
	</select>
	
	<select id="queryForCount" resultType="Integer" parameterType="Map">
		SELECT COUNT(1) FROM vps_ladder_rule_cog
		WHERE DELETE_FLAG = '0'  
        <if test="queryBean.ruleName != null and queryBean.ruleName != ''">
            and rule_name like '%${queryBean.ruleName}%'
        </if>
	</select>
	
	<select id="findByActivityKey" parameterType="String" resultMap="resultLadderRule">
		select * FROM vps_ladder_rule_cog
		WHERE LOCATE(#{activityKey}, VCODE_ACTIVITY_KEYS) > 0 
		AND CURDATE() BETWEEN start_date AND END_DATE
		AND DELETE_FLAG = '0'
		LIMIT 1
	</select>
</mapper>