<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbt.platform.vdhInvitation.dao.VdhInvitationOrderDao">
    <resultMap id="resultMap" type="com.dbt.platform.vdhInvitation.bean.VpsVcodeVdhInvitationOrder">
        <result property="infoKey" column="INFO_KEY"/>
        <result property="companyKey" column="COMPANY_KEY"/>
        <result property="orderName" column="ORDER_NAME"/>
        <result property="orderNum" column="ORDER_NUM"/>
        <result property="status" column="STATUS"/>
        <result property="deleteFlag" column="DELETE_FLAG"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateUser" column="UPDATE_USER"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <!--根据查询条件查询订单-->
    <select id="queryForList" parameterType="map" resultMap="resultMap">
        SELECT * FROM (
            SELECT
                *
            FROM
                VPS_VCODE_VDH_INVITATION_ORDER io
            WHERE
                io.DELETE_FLAG = '0'
                <if test="queryBean.orderName != null and queryBean.orderName != ''">
                    and io.ORDER_NAME like '%${queryBean.orderName}%'
                </if>
        ) a
        WHERE 1=1
            ORDER BY
            <choose>
                <when test="pageInfo.orderCol != null and pageInfo.orderCol != ''">
                    <![CDATA[a.${pageInfo.orderCol} ${pageInfo.orderType}]]>
                </when>
                <otherwise>
                    a.CREATE_TIME DESC
                </otherwise>
            </choose>
            LIMIT #{pageInfo.startCount}, #{pageInfo.pagePerCount}
    </select>

    <!--分页总数-->
    <select id="queryForCount" parameterType="map" resultType="int">
        SELECT
            count(*)
        FROM
            VPS_VCODE_VDH_INVITATION_ORDER
        WHERE
            DELETE_FLAG = '0'
            <if test="queryBean.orderName != null and queryBean.orderName != ''">
                and ORDER_NAME like '%${queryBean.orderName}%'
            </if>
    </select>

    <!--检查邀请码订单名称-->
    <select id="checkName" parameterType="map" resultMap="resultMap">
        SELECT
            *
        FROM
            VPS_VCODE_VDH_INVITATION_ORDER
        WHERE
            DELETE_FLAG = '0'
            <if test="checkName != null and checkName != ''">
                AND ORDER_NAME = #{checkName}
            </if>
            <if test="infoKey != null and infoKey != ''">
                AND INFO_KEY != #{infoKey}
            </if>
        LIMIT 1
    </select>

    <!--创建邀请码订单-->
    <insert id="create" parameterType="com.dbt.platform.vdhInvitation.bean.VpsVcodeVdhInvitationOrder">
        INSERT INTO VPS_VCODE_VDH_INVITATION_ORDER
            (INFO_KEY, COMPANY_KEY, ORDER_NAME, ORDER_NUM, STATUS,
            DELETE_FLAG, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME)
        VALUES
            (#{infoKey}, #{companyKey}, #{orderName}, #{orderNum}, #{status},
            #{deleteFlag}, #{createUser}, #{createTime}, #{updateUser}, #{updateTime})
    </insert>

    <!--根据id查询邀请码订单-->
    <select id="findById" parameterType="String" resultMap="resultMap">
        SELECT
            *
        FROM
            VPS_VCODE_VDH_INVITATION_ORDER
        WHERE
            INFO_KEY = #{infoKey}
    </select>

    <!--修改邀请码订单-->
    <update id="update" parameterType="com.dbt.platform.vdhInvitation.bean.VpsVcodeVdhInvitationOrder">
        UPDATE
            VPS_VCODE_VDH_INVITATION_ORDER
            <set>
                <if test="orderName != null and orderName != ''">
                    ORDER_NAME = #{orderName},
                </if>
                <if test="orderNum != null and orderNum != ''">
                    ORDER_NUM = #{orderNum},
                </if>
                <if test="status != null and status != ''">
                    STATUS = #{status},
                </if>
                <if test="deleteFlag != null and deleteFlag != ''">
                    DELETE_FLAG = #{deleteFlag},
                </if>
                <if test="updateTime != null and updateTime != ''">
                    UPDATE_TIME = #{updateTime},
                </if>
                <if test="updateUser != null and updateUser != ''">
                    UPDATE_USER = #{updateUser}
                </if>
            </set>
        WHERE
            INFO_KEY = #{infoKey}
    </update>

    <!--查询正在生成邀请码的订单-->
    <select id="findAfoot" resultType="com.dbt.platform.vdhInvitation.bean.VpsVcodeVdhInvitationOrder">
        SELECT
            *
        FROM
            VPS_VCODE_VDH_INVITATION_ORDER
        WHERE
            STATUS = '1'
        LIMIT 1
    </select>

    <!--物理删除订单根据邀请码订单主键-->
    <delete id="removeOrderByInfoKey" parameterType="String">
        DELETE FROM
            VPS_VCODE_VDH_INVITATION_ORDER
        WHERE
            INFO_KEY = #{infoKey}
    </delete>
</mapper>