<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbt.smallticket.dao.VpsTicketTerminalInsideDetailDao">

	<resultMap type="com.dbt.smallticket.bean.VpsTicketTerminalInsideDetail" id="baseResultMap">
		<result property="terminalInsideCode" column="TERMINAL_INSIDE_CODE" />
		<result property="ticketSkuName" column="TICKET_SKU_NAME" />
		<result property="ticketSkuUnitMoney" column="TICKET_SKU_UNIT_MONEY" />
		<result property="skuKey" column="SKU_KEY" />
	</resultMap>
	
	<!-- 根据编码或者名称模糊搜索 -->
	<select id="searchLst" parameterType="com.dbt.smallticket.bean.VpsTicketTerminalInsideDetail" resultMap="baseResultMap">
		select 	
			 *
			 FROM  vps_ticket_terminal_inside_code_detail a
		<choose>
			<when test="insideCodeType != null and  insideCodeType != ''">
				inner join vps_ticket_terminal_inside_code_type t on t.INSIDE_CODE_TYPE = a.INSIDE_CODE_TYPE and t.DELETE_FLAG = '0'
				where a.INSIDE_CODE_TYPE = #{insideCodeType}
			</when>
			<otherwise>
				inner join vps_ticket_terminal_cog t on t.TERMINAL_KEY = a.TERMINAL_KEY and t.TERMINAL_STATUS = '0'
				where t.TERMINAL_NAME = #{ticketTerminalName}
			</otherwise>
		</choose>
		<!-- 是名称查询还是编码查询 -->
		<if test="terminalInsideCode != null and  terminalInsideCode != ''">
			and a.TERMINAL_INSIDE_CODE like '%${terminalInsideCode}%' 
		</if>
		<if test="ticketSkuName != null and  ticketSkuName != ''">
			and a.TICKET_SKU_NAME like '%${ticketSkuName}%' 
		</if>
			and CODE_STATUS = '0'
	</select>
	
	<!-- 查询体系或者门店下的店内码-->
	<select id="queryInsideDetailByInalnsideCode" parameterType="Map" resultType="String">
		select 	
			 a.TERMINAL_INSIDE_CODE as 'terminalInsideCode'
		FROM  vps_ticket_terminal_inside_code_detail a	
		where a.CODE_STATUS = '0'
		and a.DELETE_FLAG = '0'
		<choose>
			<when test="insideCodeType != null and  insideCodeType != ''">
				and a.INSIDE_CODE_TYPE = #{insideCodeType}
			</when>
			<otherwise>
				and a.TERMINAL_KEY = #{terminalKey}
			</otherwise>
		</choose>
		<if test="detailLst != null and  detailLst.size() > 0">
			<foreach collection="detailLst" item="detail"  open=" and (" close=")" separator=" or ">
                a.TERMINAL_INSIDE_CODE = '${detail.terminalInsideCode}'
            </foreach>			
		</if>
	</select>
	
	<!-- 创建店内码 -->
	<insert id="addBatch" parameterType="java.util.List">
		insert into vps_ticket_terminal_inside_code_detail (INFO_KEY, TERMINAL_INSIDE_CODE, TERMINAL_KEY, INSIDE_CODE_TYPE,SKU_KEY,TICKET_SKU_NAME
		,TICKET_SKU_UNIT_MONEY,CODE_STATUS,DELETE_FLAG,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME)
		values
          <foreach collection ="list" item="detail" index= "index" separator =",">
              (
                 uuid(), 
                 #{detail.terminalInsideCode},
                 #{detail.terminalKey},
                 #{detail.insideCodeType},
                 #{detail.skuKey}, 
                 #{detail.ticketSkuName},
                 #{detail.ticketSkuUnitMoney},
                 '0',
                 0,
                 #{detail.createUser},
                 #{detail.createTime},
                 #{detail.updateUser},
                 #{detail.updateTime}
              )
         </foreach>
	</insert>
	
	
	
	<!-- 修改店内码 -->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
        update vps_ticket_terminal_inside_code_detail
        <set>
            SKU_KEY=#{item.skuKey},
            TICKET_SKU_NAME=#{item.ticketSkuName},
            TICKET_SKU_UNIT_MONEY=#{item.ticketSkuUnitMoney},
            UPDATE_USER =#{item.updateUser},
            UPDATE_TIME = #{item.updateTime}
        </set>
        where TERMINAL_INSIDE_CODE = #{item.terminalInsideCode}
        <choose>
        	<when test="item.insideCodeType != null and  item.insideCodeType != ''">
        			and INSIDE_CODE_TYPE = #{item.insideCodeType}
        	</when>
        	<otherwise>
        			and TERMINAL_KEY = #{item.terminalKey}
        	</otherwise>
        </choose>
    </foreach>
	</update>
	
</mapper>
