<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbt.platform.activity.dao.IVcodeActivityDoubtTempletDao">

	<resultMap type="com.dbt.platform.activity.bean.VcodeActivityDoubtTemplet" id="baseResult">
		<result property="infoKey" column="INFO_KEY" />
		<result property="companyKey" column="COMPANY_KEY" />
		<result property="templetName" column="TEMPLET_NAME" />
		<result property="sameMinuteRestrict" column="SAME_MINUTE_RESTRICT" />
		<result property="sameDayRestrict" column="SAME_DAY_RESTRICT" />
		<result property="historyTimesRestrict" column="HISTORY_TIMES_RESTRICT" />
		<result property="sameMonthRestrict" column="SAME_MONTH_RESTRICT" />
		<result property="doubtfulTimeLimitType" column="DOUBTFUL_TIME_LIMIT_TYPE" />
		<result property="limitFactory" column="LIMIT_FACTORY" />
        <result property="doubtRebateType" column="DOUBT_REBATE_TYPE" />
        <result property="doubtRuleRangeMin" column="DOUBT_RULE_RANGE_MIN" />
        <result property="doubtRuleRangeMax" column="DOUBT_RULE_RANGE_MAX" />
        <result property="templetDesc" column="TEMPLET_DESC" />
        <result property="status" column="STATUS" />
		<result property="deleteFlag" column="DELETE_FLAG" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="createUser" column="CREATE_USER" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="updateUser" column="UPDATE_USER" />
	</resultMap>
	
	<insert id="create" parameterType="com.dbt.platform.activity.bean.VcodeActivityDoubtTemplet">
		INSERT INTO vps_vcode_activity_doubt_templet (
	        INFO_KEY,
	        COMPANY_KEY,
	        TEMPLET_NAME,
	        SAME_MINUTE_RESTRICT,
	        SAME_DAY_RESTRICT,
	        HISTORY_TIMES_RESTRICT,
	        SAME_MONTH_RESTRICT,
	        DOUBTFUL_TIME_LIMIT_TYPE,
	        LIMIT_FACTORY,
	        DOUBT_REBATE_TYPE,
	        DOUBT_RULE_RANGE_MIN,
	        DOUBT_RULE_RANGE_MAX,
	        TEMPLET_DESC,
	        STATUS,
	        DELETE_FLAG,
	        CREATE_TIME,
	        CREATE_USER,
	        UPDATE_TIME,
	        UPDATE_USER
		) VALUES (
			#{infoKey},
			#{companyKey},
			#{templetName},
            #{sameMinuteRestrict},
			#{sameDayRestrict},
			#{historyTimesRestrict},
			#{sameMonthRestrict},
			#{doubtfulTimeLimitType},
			#{limitFactory},
			#{doubtRebateType},
			#{doubtRuleRangeMin},
			#{doubtRuleRangeMax},
			#{templetDesc},
			#{status},
			'0',
			#{createTime},
			#{createUser},
			#{updateTime},
			#{updateUser}
		)
	</insert>
	
	<update id="update" parameterType="com.dbt.platform.activity.bean.VcodeActivityDoubtTemplet">
		UPDATE vps_vcode_activity_doubt_templet 
		<set>
			<if test="templetName != null and templetName != '' ">
				TEMPLET_NAME = #{templetName},
			</if>
			SAME_MINUTE_RESTRICT = #{sameMinuteRestrict},
			SAME_DAY_RESTRICT = #{sameDayRestrict},
			HISTORY_TIMES_RESTRICT = #{historyTimesRestrict},
			SAME_MONTH_RESTRICT = #{sameMonthRestrict},
			DOUBTFUL_TIME_LIMIT_TYPE = #{doubtfulTimeLimitType},
			<if test="limitFactory != null and limitFactory != '' ">
				LIMIT_FACTORY = #{limitFactory},
			</if>
			<if test="doubtRebateType != null and doubtRebateType != '' ">
				DOUBT_REBATE_TYPE = #{doubtRebateType},
			</if>
			<if test="doubtRuleRangeMin != null and doubtRuleRangeMin != '' ">
				DOUBT_RULE_RANGE_MIN = #{doubtRuleRangeMin},
			</if>
			<if test="doubtRuleRangeMax != null and doubtRuleRangeMax != '' ">
				DOUBT_RULE_RANGE_MAX = #{doubtRuleRangeMax},
			</if>
			<if test="templetDesc != null and templetDesc != '' ">
				TEMPLET_DESC = #{templetDesc},
			</if>
			<if test="status != null and status != '' ">
				STATUS = #{status},
			</if>
			UPDATE_TIME = NOW(),
			UPDATE_USER = #{updateUser}
		</set>
		WHERE INFO_KEY = #{infoKey}
	</update>
	
	<delete id="deleteById" parameterType="Map">
	   UPDATE vps_vcode_activity_doubt_templet
	   <set>
	       DELETE_FLAG = '1',
           UPDATE_TIME = NOW(),
           UPDATE_USER = #{optUserKey}
	   </set>
        WHERE INFO_KEY = #{infoKey}
	</delete>
	
	<select id="queryForLst" resultMap="baseResult" parameterType="Map">
		SELECT
			*
		FROM
			vps_vcode_activity_doubt_templet
		WHERE
			DELETE_FLAG = 0
		<if test="queryBean.templetName != null and queryBean.templetName != ''">
		    and templet_name like '%${queryBean.templetName}%'
		</if>
		<if test="queryBean.status != null and queryBean.status != ''">
		    and status = #{queryBean.status}
		</if>
        <choose>
            <when test="queryBean.startDate != null and queryBean.startDate != '' and  queryBean.endDate != null and queryBean.endDate != ''">
                AND create_time between #{queryBean.startDate} and #{queryBean.endDate}
            </when>
            <when test="queryBean.startDate != null and queryBean.startDate != ''">
                AND create_time >= #{queryBean.startDate}
            </when>
            <when test="queryBean.endDate != null and queryBean.endDate != ''">
                AND #{queryBean.endDate} >= create_time 
            </when>
        </choose>
		<choose>
		  <when test="pageInfo.orderCol != null and pageInfo.orderCol != '' and pageInfo.orderCol != 'create_time'">
		      ORDER BY ${pageInfo.orderCol} ${pageInfo.orderType}, CREATE_TIME DESC
		  </when>
		  <when test="pageInfo.orderCol != null and pageInfo.orderCol != ''">
		      ORDER BY ${pageInfo.orderCol} ${pageInfo.orderType}
		  </when>
		  <otherwise>ORDER BY CREATE_TIME DESC</otherwise>
		</choose>
        
        LIMIT #{pageInfo.startCount}, #{pageInfo.pagePerCount}
	</select>
	
	<select id="queryForCount" resultType="int" parameterType="Map">
		SELECT
			COUNT(1)
		FROM
			vps_vcode_activity_doubt_templet
		WHERE
			DELETE_FLAG = 0
        <if test="queryBean.companyKey != null and queryBean.companyKey != ''">
            and company_key = #{queryBean.companyKey}
        </if>
        <if test="queryBean.templetName != null and queryBean.templetName != ''">
            and templet_name like '%${queryBean.templetName}%'
        </if>
        <if test="queryBean.status != null and queryBean.status != ''">
            and status = #{queryBean.status}
        </if>
        <choose>
            <when test="queryBean.startDate != null and queryBean.startDate != '' and  queryBean.endDate != null and queryBean.endDate != ''">
                AND create_time between #{queryBean.startDate} and #{queryBean.endDate}
            </when>
            <when test="queryBean.startDate != null and queryBean.startDate != ''">
                AND create_time >= #{queryBean.startDate}
            </when>
            <when test="queryBean.endDate != null and queryBean.endDate != ''">
                AND #{queryBean.endDate} >= create_time 
            </when>
        </choose>
	</select>
	
	<select id="findById" resultMap="baseResult" parameterType="String">
		SELECT
			*
		FROM
			vps_vcode_activity_doubt_templet
		WHERE
            INFO_KEY = #{id}
	</select>
	
	<select id="queryForAll" resultMap="baseResult" parameterType="Map">
		SELECT
			*
		FROM
			vps_vcode_activity_doubt_templet
		WHERE
            delete_flag = '0'
        <if test="status != null">
            and status = #{status}
        </if>
        order by create_time desc
	</select>
</mapper>
