<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbt.platform.activity.dao.IVcodePerhundredPrizeRecordDao">

	<resultMap type="com.dbt.platform.activity.bean.VcodePerhundredPrizeRecord" id="baseResult">
		<result property="infoKey" column="INFO_KEY"/>
		<result property="companyKey" column="COMPANY_KEY"/>
  		<result property="perhundredKey" column="PERHUNDRED_KEY"/>
  		<result property="openid" column="OPENID"/>
  		<result property="userKey" column="USER_KEY"/>
  		<result property="nickName" column="NICK_NAME"/>
  		<result property="qrcodeContent" column="QRCODE_CONTENT"/>
  		<result property="multiple" column="MULTIPLE"/>
  		<result property="earnVpoints" column="EARN_VPOINTS"/>
  		<result property="earnMoney" column="EARN_MONEY"/>
  		<result property="createTime" column="CREATE_TIME"/>
	</resultMap>

	<select id="queryForList" resultMap="baseResult" parameterType="Map">
		SELECT * FROM vps_vcode_perhundred_prize_record 
		WHERE 1=1
		<if test="queryBean.perhundredKey != null and queryBean.perhundredKey != ''">
		    AND PERHUNDRED_KEY = #{queryBean.perhundredKey}
		</if>
		<if test="queryBean.nickName != null and queryBean.nickName != ''">
		    AND NICK_NAME LIKE '%${queryBean.nickName}%'
		</if>
		<if test="queryBean.qrcodeContent != null and queryBean.qrcodeContent != ''">
		    AND QRCODE_CONTENT = #{queryBean.qrcodeContent}
		</if>
		<if test="queryBean.startDate != null and queryBean.startDate != ''">
		    AND create_time >= CONCAT(#{queryBean.startDate},' ','00:00:00')
		</if>
		<if test="queryBean.endDate != null and queryBean.endDate != ''">
		    AND create_time <![CDATA[<=]]> CONCAT(#{queryBean.endDate},' ','23:59:59')
		</if>
	 	ORDER BY 
		<choose>
		  <when test="pageInfo.orderCol != null and pageInfo.orderCol != ''">
		      ${pageInfo.orderCol} ${pageInfo.orderType}
		  </when>
		  <otherwise>CREATE_TIME DESC</otherwise>
		</choose>
		<if test="isLimit">
        LIMIT #{pageInfo.startCount}, #{pageInfo.pagePerCount}
        </if>
	</select>
	
	<select id="queryForCount" resultType="int" parameterType="Map">
		SELECT COUNT(1) FROM vps_vcode_perhundred_prize_record 
		WHERE 1=1
		<if test="queryBean.perhundredKey != null and queryBean.perhundredKey != ''">
		    AND PERHUNDRED_KEY = #{queryBean.perhundredKey}
		</if>
		<if test="queryBean.nickName != null and queryBean.nickName != ''">
		    AND NICK_NAME LIKE '%${queryBean.nickName}%'
		</if>
		<if test="queryBean.qrcodeContent != null and queryBean.qrcodeContent != ''">
		    AND QRCODE_CONTENT = #{queryBean.qrcodeContent}
		</if>
		<if test="queryBean.startDate != null and queryBean.startDate != ''">
		    AND create_time >= CONCAT(#{queryBean.startDate},' ','00:00:00')
		</if>
		<if test="queryBean.endDate != null and queryBean.endDate != ''">
		    AND create_time <![CDATA[<=]]> CONCAT(#{queryBean.endDate},' ','23:59:59')
		</if>
	</select>
</mapper>
