<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbt.platform.activity.dao.IVcodeActivityMorescanCogDao">

	<resultMap type="com.dbt.platform.activity.bean.VcodeActivityMorescanCog" id="baseResult">
		<result property="infoKey" column="INFO_KEY"/>
		<result property="companyKey" column="COMPANY_KEY"/>
  		<result property="vcodeActivityKey" column="VCODE_ACTIVITY_KEY"/>
  		<result property="morescanNo" column="MORESCAN_NO"/>
  		<result property="morescanName" column="MORESCAN_NAME"/>
  		<result property="validDateRange" column="VALID_DATE_RANGE"/>
  		<result property="validTimeRange" column="VALID_TIME_RANGE"/>
  		<result property="minValidDate" column="MIN_VALID_DATE"/>
  		<result property="maxValidDate" column="MAX_VALID_DATE"/>
  		<result property="prizePattern" column="PRIZE_PATTERN"/>
  		<result property="validCount" column="VALID_COUNT"/>
  		<result property="qrcodeValidHour" column="QRCODE_VALID_HOUR"/>
  		<result property="status" column="STATUS"/>
        <result property="hotAreaKey" column="HOTAREA_KEY"/>
  		<result property="roleInfo" column="ROLE_INFO"/>
  		<result property="deleteFlag" column="DELETE_FLAG"/>
  		<result property="createTime" column="CREATE_TIME"/>
		<result property="createUser" column="CREATE_USER"/>
		<result property="updateTime" column="UPDATE_TIME"/>
		<result property="updateUser" column="UPDATE_USER"/>
	</resultMap>

	<insert id="create" parameterType="com.dbt.platform.activity.bean.VcodeActivityMorescanCog">
		INSERT INTO vps_vcode_activity_morescan_cog(
			INFO_KEY,
			COMPANY_KEY,
			VCODE_ACTIVITY_KEY,
			MORESCAN_NO,
			MORESCAN_NAME,
			VALID_DATE_RANGE,
			VALID_TIME_RANGE,
			MIN_VALID_DATE,
			MAX_VALID_DATE,
			PRIZE_PATTERN,
			VALID_COUNT,
			QRCODE_VALID_HOUR,
			STATUS,
            HOTAREA_KEY,
			ROLE_INFO,
			DELETE_FLAG,
			CREATE_TIME,
			CREATE_USER,
			UPDATE_TIME,
			UPDATE_USER
		)
		VALUES (
			UUID(),
			#{companyKey},
			#{vcodeActivityKey},
			#{morescanNo},
			#{morescanName},
			#{validDateRange},
			#{validTimeRange},
			#{minValidDate},
			#{maxValidDate},
			#{prizePattern},
			#{validCount},
			#{qrcodeValidHour},
			#{status},
            #{hotAreaKey},
			#{roleInfo},
			'0',
			#{createTime},
			#{createUser},
			#{updateTime},
			#{updateUser}
		)
	</insert>
	
	<update id="update" parameterType="com.dbt.platform.activity.bean.VcodeActivityMorescanCog">
		UPDATE vps_vcode_activity_morescan_cog SET
			<if test="vcodeActivityKey != null and vcodeActivityKey != ''">
				VCODE_ACTIVITY_KEY = #{vcodeActivityKey},
			</if>
			MORESCAN_NAME = #{morescanName},
			VALID_DATE_RANGE=#{validDateRange},
			VALID_TIME_RANGE = #{validTimeRange},
			MIN_VALID_DATE = #{minValidDate},
			MAX_VALID_DATE = #{maxValidDate},
			PRIZE_PATTERN = #{prizePattern},
			VALID_COUNT = #{validCount},
			QRCODE_VALID_HOUR = #{qrcodeValidHour},
			ROLE_INFO=#{roleInfo},
			STATUS = #{status},
            HOTAREA_KEY= #{hotAreaKey},
			UPDATE_TIME = #{updateTime},
			UPDATE_USER = #{updateUser}
		WHERE INFO_KEY = #{infoKey}
	</update>
	
	<select id="queryForList" resultMap="baseResult" parameterType="Map">
		SELECT * FROM (
			SELECT
				m.*,
				s.sku_name AS skuName,
				c.vcode_activity_name AS vcodeActivityName,
				CASE 
					WHEN DATE(NOW()) >= m.MIN_VALID_DATE AND DATE(NOW()) <![CDATA[<=]]> m.MAX_VALID_DATE THEN '1'
					WHEN DATE(NOW()) > m.MAX_VALID_DATE THEN '2' 
					ELSE '0'
				END AS isBegin
			FROM
				vps_vcode_activity_morescan_cog m
			LEFT JOIN vps_vcode_activity_cog c ON m.vcode_activity_key = c.vcode_activity_key
			LEFT JOIN vps_sku_info s ON c.sku_key = s.sku_key
			WHERE
				m.DELETE_FLAG = '0'
			<if test="queryBean.morescanNo != null and queryBean.morescanNo != ''">
			    and m.morescan_no like '%${queryBean.morescanNo}%'
			</if>
			<if test="queryBean.morescanName != null and queryBean.morescanName != ''">
			    and m.morescan_name like '%${queryBean.morescanName}%' 
			</if>
			<if test="queryBean.prizePattern != null and queryBean.prizePattern != ''">
			    and m.prize_pattern = #{queryBean.prizePattern}
			</if>
			<if test="queryBean.status != null and queryBean.status != ''">
			    and m.status = #{queryBean.status}
			</if>
		) a
		WHERE 1=1
		<choose>
			<when test="queryBean.isBegin != null and queryBean.isBegin != ''">
				and a.isBegin = #{queryBean.isBegin}
			</when>
			<when test="queryBean.tabsFlag == '1'.toString()">
				and a.isBegin in ('0','1')
			</when>
			<otherwise>
				and a.isBegin in ('2')
			</otherwise>
		</choose>
		 ORDER BY 
		<choose>
		  <when test="pageInfo.orderCol != null and pageInfo.orderCol != ''">
		      ${pageInfo.orderCol} ${pageInfo.orderType}
		  </when>
		  <otherwise>a.isBegin DESC, a.CREATE_TIME DESC</otherwise>
		</choose>
        LIMIT #{pageInfo.startCount}, #{pageInfo.pagePerCount}
	</select>
	
	<select id="queryForCount" resultType="int" parameterType="Map">
		SELECT COUNT(1) FROM (
			SELECT
				m.*,
				s.sku_name AS skuName,
				c.vcode_activity_name AS vcodeActivityName,
				CASE 
					WHEN DATE(NOW()) >= m.MIN_VALID_DATE AND DATE(NOW()) <![CDATA[<=]]> m.MAX_VALID_DATE THEN '1'
					WHEN DATE(NOW()) > m.MAX_VALID_DATE THEN '2' 
					ELSE '0'
				END AS isBegin
			FROM
				vps_vcode_activity_morescan_cog m
			LEFT JOIN vps_vcode_activity_cog c ON m.vcode_activity_key = c.vcode_activity_key
			LEFT JOIN vps_sku_info s ON c.sku_key = s.sku_key
			WHERE
				m.DELETE_FLAG = '0'
			<if test="queryBean.morescanNo != null and queryBean.morescanNo != ''">
			    and m.morescan_no like '%${queryBean.morescanNo}%'
			</if>
			<if test="queryBean.morescanName != null and queryBean.morescanName != ''">
			    and m.morescan_name like '%${queryBean.morescanName}%' 
			</if>
			<if test="queryBean.prizePattern != null and queryBean.prizePattern != ''">
			    and m.prize_pattern = #{queryBean.prizePattern}
			</if>
			<if test="queryBean.status != null and queryBean.status != ''">
			    and m.status = #{queryBean.status}
			</if>
		) a
		WHERE 1=1
		<choose>
			<when test="queryBean.isBegin != null and queryBean.isBegin != ''">
				and a.isBegin = #{queryBean.isBegin}
			</when>
			<when test="queryBean.tabsFlag == '1'.toString()">
				and a.isBegin in ('0','1')
			</when>
			<otherwise>
				and a.isBegin in ('2')
			</otherwise>
		</choose>
	</select>
	
	<select id="getCount" resultType="int">
		SELECT COUNT(1) FROM vps_vcode_activity_morescan_cog
	</select>
	
	<select id="findById" parameterType="String" resultMap="baseResult">
		SELECT 
			*,
			CASE 
				WHEN DATE(NOW()) >= MIN_VALID_DATE AND DATE(NOW()) <![CDATA[<=]]> MAX_VALID_DATE THEN '1'
				WHEN DATE(NOW()) > MAX_VALID_DATE THEN '2' 
				ELSE '0'
			END AS isBegin 
		FROM 
		vps_vcode_activity_morescan_cog 
		WHERE INFO_KEY = #{id}
	</select>
	
	<delete id="deleteById" parameterType="Map">
		UPDATE vps_vcode_activity_morescan_cog SET
			DELETE_FLAG = '1',
			UPDATE_TIME = NOW(),
			UPDATE_USER = #{updateUser}
		WHERE INFO_KEY = #{infoKey}
	</delete>
	
	<!-- 获取该活动下一码多扫有效规则 -->
    <select id="findValidByActivityKey" parameterType="Map" resultMap="baseResult">
        SELECT 
            * 
        FROM 
            vps_vcode_activity_morescan_cog
        WHERE 
            VCODE_ACTIVITY_KEY = #{vcodeActivityKey}
            AND DELETE_FLAG = '0'
            AND STATUS = '1'
            AND CURDATE() >= MIN_VALID_DATE 
            AND CURDATE() <![CDATA[<=]]> MAX_VALID_DATE
        limit 1
    </select>

	<select id="getByActivityKey" parameterType="string" resultMap="baseResult">
		SELECT
            *
        FROM
            vps_vcode_activity_morescan_cog
        WHERE
            VCODE_ACTIVITY_KEY = #{vcodeActivityKey}
            AND DELETE_FLAG = '0'
            AND MAX_VALID_DATE >= CURDATE()
	</select>
</mapper>
