<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbt.platform.promotion.dao.IVpsVcodeBindPromotionCogDao">

	<resultMap type="com.dbt.platform.promotion.bean.VpsVcodeBindPromotionCog" id="baseResultMap">
		<result property="activityKey" column="ACTIVITY_KEY"/>
		<result property="companyKey" column="COMPANY_KEY"/>
		<result property="activityNo" column="ACTIVITY_NO"/>
		<result property="activityName" column="ACTIVITY_NAME"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="periodType" column="PERIOD_TYPE"/>
		<result property="skuRelationType" column="SKU_RELATION_TYPE"/>
		<result property="prizeUpperLimit" column="PRIZE_UPPER_LIMIT"/>
		<result property="skuRelationPeriod" column="SKU_RELATION_PERIOD"/>
		<result property="promotionSkuKey" column="PROMOTION_SKU_KEY"/>
		<result property="promotionSkuNum" column="PROMOTION_SKU_NUM"/>
		<result property="prizeGainType" column="PRIZE_GAIN_TYPE"/>
		<result property="doubtRuleType" column="DOUBT_RULE_TYPE"/>
		<result property="doubtRuleCoe" column="DOUBT_RULE_COE"/>
		<result property="doubtRuleRangeMin" column="DOUBT_RULE_RANGE_MIN"/>
		<result property="doubtRuleRangeMax" column="DOUBT_RULE_RANGE_MAX"/>
		<result property="moneyConfigFlag" column="MONEY_CONFIG_FLAG"/>
		<result property="activityDesc" column="ACTIVITY_DESC"/>
		<result property="deleteFlag" column="DELETE_FLAG"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="createUser" column="CREATE_USER"/>
		<result property="updateTime" column="UPDATE_TIME"/>
		<result property="updateUser" column="UPDATE_USER"/>
	</resultMap>
	
	<sql id="Base_Column_List">
			ACTIVITY_KEY,
			COMPANY_KEY,
			ACTIVITY_NO,
			ACTIVITY_NAME,
			START_DATE,
			END_DATE,
			PERIOD_TYPE,
			SKU_RELATION_TYPE,
			PRIZE_UPPER_LIMIT,
			SKU_RELATION_PERIOD,
            PROMOTION_SKU_KEY,
            PROMOTION_SKU_NUM,
            PRIZE_GAIN_TYPE,
            DOUBT_RULE_TYPE,
            DOUBT_RULE_COE,
            DOUBT_RULE_RANGE_MIN,
            DOUBT_RULE_RANGE_MAX,
			MONEY_CONFIG_FLAG,
			ACTIVITY_DESC,
			DELETE_FLAG,
			CREATE_TIME,
			CREATE_USER,
			UPDATE_TIME,
			UPDATE_USER
	</sql>
	
	<insert id="create" parameterType="com.dbt.platform.promotion.bean.VpsVcodeBindPromotionCog">
		INSERT INTO vps_vcode_bindpromotion_cog (
			ACTIVITY_KEY,
			COMPANY_KEY,
			ACTIVITY_NO,
			ACTIVITY_NAME,
			START_DATE,
			END_DATE,
			PERIOD_TYPE,
			SKU_RELATION_TYPE,
			PRIZE_UPPER_LIMIT,
			SKU_RELATION_PERIOD,
            PROMOTION_SKU_KEY,
            PROMOTION_SKU_NUM,
            PRIZE_GAIN_TYPE,
            DOUBT_RULE_TYPE,
            DOUBT_RULE_COE,
            DOUBT_RULE_RANGE_MIN,
            DOUBT_RULE_RANGE_MAX,
			MONEY_CONFIG_FLAG,
			ACTIVITY_DESC,
			DELETE_FLAG,
			CREATE_TIME,
			CREATE_USER,
			UPDATE_TIME,
			UPDATE_USER
		) VALUES (
			#{activityKey},
			#{companyKey},
			#{activityNo},
			#{activityName},
			#{startDate},
			#{endDate},
			#{periodType},
			#{skuRelationType},
			#{prizeUpperLimit},
			#{skuRelationPeriod},
            #{promotionSkuKey},
            #{promotionSkuNum},
            #{prizeGainType},
            #{doubtRuleType},
            #{doubtRuleCoe},
            #{doubtRuleRangeMin},
            #{doubtRuleRangeMax},
			#{moneyConfigFlag},
			#{activityDesc},
			'0',
			#{createTime},
			#{createUser},
			#{updateTime},
			#{updateUser}
		) 
	</insert>
	
	<update id="update" parameterType="com.dbt.platform.promotion.bean.VpsVcodeBindPromotionCog">
		UPDATE
			vps_vcode_bindpromotion_cog
		<set>
			<if test="companyKey != null and companyKey != ''">
				COMPANY_KEY = #{companyKey},
			</if>
			<if test="activityName != null and activityName != ''">
				ACTIVITY_NAME = #{activityName},
			</if>
			<if test="startDate != null and startDate != ''">
				START_DATE = #{startDate},
			</if>
			<if test="endDate != null and endDate != ''">
				END_DATE = #{endDate},
			</if>
			<if test="periodType != null and periodType != ''">
            	PERIOD_TYPE = #{periodType},
			</if>
			<if test="skuRelationType != null and skuRelationType != ''">
				SKU_RELATION_TYPE = #{skuRelationType},
			</if>
				PRIZE_UPPER_LIMIT = #{prizeUpperLimit},
			<if test="skuRelationPeriod != null and skuRelationPeriod != ''">
				SKU_RELATION_PERIOD = #{skuRelationPeriod},
			</if>
			<if test="promotionSkuKey != null and promotionSkuKey != ''">
				PROMOTION_SKU_KEY = #{promotionSkuKey},
			</if>
			<if test="promotionSkuNum != null">
				PROMOTION_SKU_NUM = #{promotionSkuNum},
			</if>
			<if test="prizeGainType != null">
				PRIZE_GAIN_TYPE = #{prizeGainType},
			</if>
			<if test="doubtRuleType != null">
				DOUBT_RULE_TYPE = #{doubtRuleType},
			</if>
				DOUBT_RULE_COE = #{doubtRuleCoe},
				DOUBT_RULE_RANGE_MIN = #{doubtRuleRangeMin},
				DOUBT_RULE_RANGE_MAX = #{doubtRuleRangeMax},
			<if test="moneyConfigFlag != null and moneyConfigFlag != ''">
				MONEY_CONFIG_FLAG = #{moneyConfigFlag},
			</if>
			<if test="activityDesc != null and activityDesc != ''">
				ACTIVITY_DESC = #{activityDesc},
			</if>
			<if test="deleteFlag != null and deleteFlag != ''">
				DELETE_FLAG = #{deleteFlag},
			</if>
			<if test="updateTime != null and updateTime != ''">
				UPDATE_TIME = #{updateTime},
			</if>
			<if test="updateUser != null and updateUser != ''">
				UPDATE_USER = #{updateUser}
			</if>
		</set>
		WHERE
			ACTIVITY_KEY = #{activityKey}
	</update>
	
	<select id="findById" parameterType="String" resultMap="baseResultMap" >
		SELECT
			cog.*,
			sku.sku_name skuName
		FROM
			vps_vcode_bindpromotion_cog cog
	    left join vps_sku_info sku on cog.PROMOTION_SKU_KEY = sku.sku_key
		WHERE
			cog.ACTIVITY_KEY = #{id}
	</select>
	
	<select id="loadActivityList" parameterType="Map" resultMap="baseResultMap" >
		SELECT a.* FROM(	
			SELECT
				cog.activity_Key,
				cog.activity_no,
				CASE 
					WHEN DATE(NOW()) >= cog.START_DATE AND DATE(NOW()) <![CDATA[<=]]> cog.END_DATE AND cog.MONEY_CONFIG_FLAG = '1' THEN '1' 
					WHEN DATE(NOW()) > cog.END_DATE THEN '2' 
					ELSE '0'
				END AS isBegin,
				cog.ACTIVITY_NAME,
	            cog.MONEY_CONFIG_FLAG,
				cog.START_DATE,
				cog.END_DATE,
				sku.sku_name as promotionSkuName,
				cog.CREATE_TIME
			FROM
				vps_vcode_bindpromotion_cog cog
			LEFT JOIN vps_sku_info sku on cog.PROMOTION_SKU_KEY = sku.sku_key
			WHERE
				cog.DELETE_FLAG != '1'
			<if test="queryBean.keyword != null and queryBean.keyword != ''">
				AND cog.activity_no like '%${queryBean.keyword}%' or cog.activity_name like '%${queryBean.keyword}%'
			</if>
			<choose>
				<when test="queryBean.startDate != null and queryBean.startDate != '' and  queryBean.endDate != null and queryBean.endDate != ''">
		            AND !(cog.start_date > #{queryBean.endDate} or #{queryBean.startDate} > cog.end_date)
		        </when>
		        <when test="queryBean.startDate != null and queryBean.startDate != ''">
		            AND #{queryBean.startDate} between cog.start_date and cog.end_date 
		        </when>
		        <when test="queryBean.endDate != null and queryBean.endDate != ''">
		            AND #{queryBean.endDate} between cog.start_date and cog.end_date 
		        </when>
			</choose>
		) a
		WHERE 1=1
		<if test="queryBean.tabsFlag != '3'.toString()">
			AND a.isBegin = #{queryBean.tabsFlag}
		</if>
		 ORDER BY 
		<choose>
		  <when test="pageInfo.orderCol != null and pageInfo.orderCol != ''">
		      ${pageInfo.orderCol} ${pageInfo.orderType}
		  </when>
		  <otherwise>a.isBegin, a.CREATE_TIME DESC</otherwise>
		</choose>
		LIMIT #{pageInfo.startCount}, #{pageInfo.pagePerCount}
	</select>
	
	<select id="countActivityList" parameterType="Map" resultType="Integer" >
		SELECT COUNT(1) FROM(	
			SELECT
				cog.activity_Key,
				CASE 
					WHEN DATE(NOW()) >= cog.START_DATE AND DATE(NOW()) <![CDATA[<=]]> cog.END_DATE AND cog.MONEY_CONFIG_FLAG = '1' THEN '1' 
					WHEN DATE(NOW()) > cog.END_DATE THEN '2' 
					ELSE '0'
				END AS isBegin,
				cog.ACTIVITY_NAME,
	            cog.MONEY_CONFIG_FLAG,
				cog.START_DATE,
				cog.END_DATE,
				sku.sku_name as promotionSkuName,
				cog.CREATE_TIME
			FROM
				vps_vcode_bindpromotion_cog cog
			LEFT JOIN vps_sku_info sku on cog.PROMOTION_SKU_KEY = sku.sku_key
			WHERE
				cog.DELETE_FLAG != '1'
			<if test="queryBean.keyword != null and queryBean.keyword != ''">
				AND cog.activity_no like '%${queryBean.keyword}%' or cog.activity_name like '%${queryBean.keyword}%'
			</if>
			<choose>
				<when test="queryBean.startDate != null and queryBean.startDate != '' and  queryBean.endDate != null and queryBean.endDate != ''">
		            AND !(cog.start_date > #{queryBean.endDate} or #{queryBean.startDate} > cog.end_date)
		        </when>
		        <when test="queryBean.startDate != null and queryBean.startDate != ''">
		            AND #{queryBean.startDate} between cog.start_date and cog.end_date 
		        </when>
		        <when test="queryBean.endDate != null and queryBean.endDate != ''">
		            AND #{queryBean.endDate} between cog.start_date and cog.end_date 
		        </when>
			</choose>
		) a
		WHERE 1=1
		<if test="queryBean.tabsFlag != '3'.toString()">
			AND a.isBegin = #{queryBean.tabsFlag}
		</if>
	</select>
	
<!-- 	获取与促销SKU当前活动有交叉的活动 -->
	<select id="queryByPromotionSkuForActivityDate" parameterType="Map" resultMap="baseResultMap">
		SELECT
			<include refid="Base_Column_List"></include>
		FROM
			vps_vcode_bindpromotion_cog 
		WHERE 
			delete_flag != '1'
			and PROMOTION_SKU_KEY = #{promotionSkuKey}
			and !(#{endDate} <![CDATA[ < ]]> start_date
				or #{startDate} > end_date
			)
	</select>
</mapper>