<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbt.platform.question.dao.IVcodeQuestionOrderDao">

	<resultMap type="com.dbt.platform.question.bean.VpsQuestionnaireOrder" id="vpsQuestionnaireOrderResultMap">
  		<result property="infoKey" column="INFO_KEY"/>
  		<result property="userKey" column="USER_KEY"/>
  		<result property="orderNo" column="order_No"/>
  		<result property="prizeVcode" column="PRIZE_VCODE"/>
  		<result property="createTime" column="CREATE_TIME"/>
  		<result property="updateTime" column="UPDATE_TIME"/>
	</resultMap>

	<!-- 批量插入 -->
	<insert id="createBatch" parameterType="java.util.List">
		INSERT INTO vps_questionnaire_order (INFO_KEY,ORDER_NO,CREATE_TIME,UPDATE_TIME) VALUES
          <foreach collection ="list" item="orderNo" index= "index" separator =",">
              (uuid(), #{orderNo},NOW(), NOW())
         </foreach>
	</insert>
 
 <select id="queryForLst" parameterType="Map" resultMap="vpsQuestionnaireOrderResultMap">
        SELECT * FROM vps_questionnaire_order WHERE 1=1
        <if test="queryBean.orderNo != null and queryBean.orderNo != ''">
            AND order_no = #{queryBean.orderNo}
        </if>
        <if test="queryBean.operationType != null and queryBean.operationType != 'null' and queryBean.operationType != ''">
        	<if test="queryBean.operationType == 1">
            	AND user_key is null
        	</if>
        	<if test="queryBean.operationType == 2">
            	AND user_key is not null
        	</if>        
        </if>
        order by create_time desc, info_key LIMIT #{pageInfo.startCount}, #{pageInfo.pagePerCount}
    </select>

    <!-- 查询符合条件的记录条数 -->
    <select id="queryForCount" resultType="int" parameterType="Map">
        SELECT count(1)
        FROM vps_questionnaire_order WHERE 1=1
         <if test="queryBean.orderNo != null and queryBean.orderNo != ''">
            AND order_no = #{queryBean.orderNo}
        </if>
        <if test="queryBean.operationType != null and queryBean.operationType != 'null' and queryBean.operationType != ''">
        	<if test="queryBean.operationType == 1">
            	AND user_key is null
        	</if>
        	<if test="queryBean.operationType == 2">
            	AND user_key is not null
        	</if>        
        </if>
    </select>
 
</mapper>
