.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both;
}

.login {
    background-image: url("../img/login/login-bg2022.jpg");
    background-size: 100% auto;
    background-position: right top;
    background-repeat: no-repeat;
}

.login-box {
    width: 350px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -230px 0 0 -175px;
    background:rgba(48,65,86,.7);
    border-radius: 10px;
}

.logo img {
    width: 70%;
    height: auto;
}

.login .logo, .login .single-sign-on, .login .footer {
    margin: 0 auto;
    text-align: center
}

.login .logo {
    padding: 15px;
    font-size: 23px
}

.login .box {
    width: 350px;
    margin: 0 auto;
}

.login .box .content {
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 15px
}

.login .box .input-icon {
    position: relative;
    /*background-image: url("../img/login/login-input.png");*/
    /*background-size: 100% 100%;*/
    border-radius: 5px;
    background-color: rgba(242,246,249,0.2);
}

.login .box .input-icon input, .login .box .input-icon input:focus {
    height: 40px;
    line-height: 40px;
    padding-left:38px !important;
    background: transparent;
    color: white;
    border: 1px solid rgb(204,204,204) !important;
    border-radius: 5px;
}

.login .box .input-icon li {
    list-style: none;
}

.login .box .verify {
    width: 66%;
    float: left;
}
.login .box #phoneNumBtn {
    width: 31%;
    height: 40px;
    float: right;
    border-radius:3px;
    text-align:center;
    font-size:13px;
    line-height: 40px;
    color: #333333;
    background-color: #d7d7d7;
    cursor: pointer;
}

.form-actions #loginbtn {
    background-color: #409EFF;
    height:40px;
    text-align:center;
    font-size:13px;
    line-height: 30px;
    color: #ffffff;
    border-radius:3px;
    margin-top: 45px;
}

.copyright {
    position: absolute;
    bottom: 10px;
    width:100%;
    text-align:center;
    font-size: 16px;
    color: #FFFFFF;
    transform:scale(0.7);
}

.login .box form {
    padding: 0;
    margin: 0
}

.login .box .form-title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 25px
}

.login .box .form-group {
    margin: 0;
    padding: 0;
    margin-bottom: 15px
}

.login .box .form-actions {
    background: none !important;
    border-top: 0;
    padding: 10px 0;
    margin: 0
}

.login .box .has-error .input-icon input {
    border-left-color: #b94a48
}

.login .box .has-success .input-icon input {
    border-left-color: #468847
}

.login .box .checkbox {
    margin-top: 7px
}

.login .box .inner-box {
    background-color: #f9f9f9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset
}

.login .box .inner-box .content {
    padding: 12px 30px;
    text-align: center
}

.login .box .inner-box a {
    color: #555;
    font-size: 12px;
    font-weight: 600
}

.login .box .inner-box a:hover {
    text-decoration: none;
    color: #4d7496
}

.login .box .inner-box .close {
    font-size: 12px;
    margin-top: -3px;
    margin-right: -20px
}

.login .box .inner-box .close.hide-default {
    display: none
}

.login .box .inner-box form {
    margin-top: 10px;
    margin-bottom: 10px
}

.login .box .inner-box a+form {
    margin-top: 20px
}

.login .box .inner-box .form-group {
    margin-bottom: 10px
}

.login .box .inner-box .forgot-password-done {
    padding: 10px 0
}

.login .box .inner-box .forgot-password-done .success-icon, .login .box .inner-box .forgot-password-done .danger-icon
{
    display: block;
    font-size: 30px;
    padding: 15px;
    padding-top: 0
}

.login .box .inner-box .forgot-password-done .success-icon {
    color: #94b86e
}

.login .box .inner-box .forgot-password-done .danger-icon {
    color: #e25856
}

.login .box .inner-box .forgot-password-done span {
    font-weight: 600
}

.login .single-sign-on {
    width: 350px;
    padding: 15px 0;
    opacity: .5;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out
}

.login .single-sign-on:hover {
    opacity: 1
}

.login .single-sign-on span {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    color: #888
}

.login .single-sign-on .btn i {
    padding-right: 5px
}

.login .footer {
    width: 350px;
    padding-top: 30px
}

.login .footer a {
    font-size: 13px;
    color: #6f6f6f
}

.login .footer a:hover {
    text-decoration: none;
    color: #4d7496
}

.login .spacing-top {
    padding-top: 7px !important
}

.login .input-icon>i {
    margin: 11px 0 0 10px;
}