<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbt.vpointsshop.dao.IVpointsGoodsExchangeRelationCogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dbt.vpointsshop.bean.VpointsGoodsExchangeRelationCogEntity">
        <result column="goods_id" property="goodsId" />
        <result column="exchange_activity_info_key" property="exchangeActivityInfoKey" />
        <result column="exchange_price" property="exchangePrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goods_id, exchange_activity_info_key,exchange_price
    </sql>

    <insert id="insert" parameterType="com.dbt.vpointsshop.bean.VpointsGoodsExchangeRelationCogEntity">
        insert into vpoints_goods_exchange_relation_cog (
                  goods_id,
                  exchange_activity_info_key,
                  exchange_price
        ) values (
                #{goodsId},
                #{exchangeActivityInfoKey},
                #{exchangePrice}
        )
    </insert>
    <delete id="deleteByInfoKey" parameterType="string">
        delete from vpoints_goods_exchange_relation_cog where exchange_activity_info_key = #{infoKey}
    </delete>
    <select id="selectByExchangeInfoKey" resultMap="BaseResultMap" >
        select goods_id,exchange_price from  vpoints_goods_exchange_relation_cog where exchange_activity_info_key = #{infoKey}
    </select>
</mapper>
